@page "/"

<h1>SaveWord</h1>
<hr />
<p>SaveWord is an app for learning new words. </p>
<p>You can add new words that you don't know the meaning.</p> 
<p>Then you can test yourself with these words that you saved.</p> 
<p>Also, you can check the your statistics from the Stats page.</p> 

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
