<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="">SaveWord</a>
		<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
	<nav class="flex-column">
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="oi oi-home" aria-hidden="true"></span> Home
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="addword">
				<span class="oi oi-pencil" aria-hidden="true"></span> Add Word
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="ListWord">
				<span class="oi oi-list-rich" aria-hidden="true"></span> Word List
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="stats">
				<span class="oi oi-list-rich" aria-hidden="true"></span> Stats
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="testyourself">
				<span class="oi oi-list-rich" aria-hidden="true"></span> Test Yourself
			</NavLink>
		</div>
	</nav>
</div>

@code {
	private bool collapseNavMenu = true;

	private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
}
